body {
    font-family: NotoSansCJKkr-Regular;
    margin: 0px;
}

.mainBackground {
    background-color: #00aeef;
}

.mainTopBar {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #f6f8f9;

}

.mainTopBar .mainTopBarIcon {
    padding: 16px;

}

.mainPadTop {
    padding-top: 54px;
}

.mainPadTop .mainTitle1 {
    text-align: center;
    font-size: 37px;
    color: #ffffff;
}

.mainPadTop .mainImage {
    display: table;
    margin: 0 auto;
}

.mainPadTop .mainTitle2 {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.mainSnsBtnGrp {
    padding-left: 50px;
    padding-top: 54px;
    padding-right: 50px;
    padding-bottom: 20px
}

.mainSnsBtnGrp .mainSnsBtn {
    display: flex;
    justify-content: center
}

.mainSnsBtnGrp .mainSnsBtn .btn100 {
    width: 100%
}


/*mainSelectList*/

.padLR {
    padding-left: 16px;
    padding-right: 16px;
}

.headerMain {
    font-family: NotoSans-Medium;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #E4E4E4;
    color:#000000;
}

.padLR .clientName {
    padding-top: 31px;
    padding-bottom: 31px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.padLR .menuList {
    padding-top: 34px;
    padding-bottom: 34px;
    background-color: #00aeef;
    text-align: center;
    opacity: 0.3;
    color: #ffffff;
    font-size: 37px;
    line-height: 40px;
    margin-bottom: 40px;
}

/*반투명*/

.opacityActive{
    background: rgba(34, 34, 34, 0.59);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.mainMenuBar{
    display: none;
}

.menuBarActive {
    display: block;
    animation-name: qzbottomslide;
    animation-duration: 0.3s;
    animation-fill-mode:  forwards;
}

@keyframes qzbottomslide{
    0%{
        width: 30%;
        height: 100%;
        text-align: center;
        position: fixed;
        bottom: 0px;
        left: -200px;
        background: #ffffff;
        z-index: 10;
    }
    100%{
        width: 30%;
        height: 100%;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #ffffff;
        z-index: 10;
    }
}

.mainMenuBarList{
	padding-top:30px;
	padding-bottom:30px;
	text-align:left;
	cursor:pointer;
	padding-left:16px;
}