<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.SpeechMapper">
	<insert id="insertSpeech" parameterType="SpeechDTO">
		INSERT 
		INTO 
			Speech(
			spcJobTag,
			spcJobTitle,
			spcJobQuestion,
			regdate,
			regno
			)
		VALUES(
			#{spcJobTag},
			#{spcJobTitle},
			#{spcJobQuestion},
			now(),
			#{regno}
		) 
	</insert>
	<select id="getMySpeechList" parameterType="SpeechDTO" resultType="SpeechDTO">
		SELECT
		speechNo,spcJobTag,spcJobTitle,spcJobQuestion,regdate,regno,upddate,updno
		FROM
		SPEECH
		WHERE 
		regno=#{regno}
	</select>
	<select id="getSpeechList" resultType="SpeechDTO">
		SELECT
		speechNo,spcJobTag,spcJobTitle,spcJobQuestion,regdate,regno,upddate,updno
		FROM
		SPEECH
	</select>
	<select id="getSpeechDetail" parameterType="SpeechDTO" resultType="SpeechDTO">
		SELECT 
		speechNo,spcJobTag,spcJobTitle,spcJobQuestion,regdate,regno,upddate,updno
		FROM
		SPEECH
		WHERE
		speechNo = #{speechNo}
	</select>
	<insert id="insertFileSpeech" parameterType="map">
		INSERT INTO file(
			fileOriginName,
			fileNewName,
			filePath,
			speechNo,
			regno
		)
		VALUES
		(
			#{fDTO.fileOriginName},
			#{fDTO.fileNewName},
			#{fDTO.filePath},
			#{sDTO.speechNo},
			#{sDTO.regno}
		)
	</insert>
	<select id="getAnswerList" parameterType="AnswerDTO"  resultType="AnswerDTO">
	SELECT 
	S.spcJobTitle AS spcJobTitle,
	S.spcJobQuestion AS spcJobQuestion,
	U.userName AS userName,
	F.fileNewName AS fileNewName
	FROM
	SPEECH S
	INNER JOIN FILE F
	ON F.speechNo = S.speechNo AND F.speechNo = #{speechNo}
	INNER JOIN USER U
	ON F.regno = U.userNo 
	</select>
	<select id="getFileInfo" parameterType="AnswerDTO" resultType="string">
	SELECT
	fileNewName
	FROM
	FILE
	WHERE
	fileNo=#{fileNo}
	</select>
	
</mapper>

