<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.SpeechMapper">
	<insert id="insertSpeech" parameterType="SpeechDTO">
	INSERT 
	INTO 
	Speech(
	spcJobTag,
	spcJobTitle,
	spcJobQuestion,
	regdate,
	regno
	)
	VALUES(
	#{spcJobTag},
	#{spcJobTitle},
	#{spcJobQuestion},
	now(),
	1
	
	) 
	</insert>
</mapper>

